/* Remove this css */

body {
    background-color: #BBBBBB;
    padding: 0;
}

#container {
     background-color: #EFEFEF;
     width:630px;
     height: 565px;
     overflow-x: hidden;
     /*margin: 50px auto 50px;*/  
}

.cb {
	clear: both;
	height: 1px;
	margin: 0;
	padding: 0;
}

/* General */

#main {
    padding: 10px 10px;
    background: #EFEFEF;
    position: relative;
}

#logo40 {
    background: url('../img/icon_80_80.png') no-repeat;
    height: 80px;
    width: 80px;
    float: left;
    padding-right: 26px;
    
     
	 /* Firefox 4 */
	 /* Safari and Chrome */
	 /* Opera */
}

.minified #logo40 {
    background: url('../img/icon_40_40.png') no-repeat;
    height: 30px;
    width: 30px;
	
    background-size: 30px 30px;
    position: relative;
    bottom: 12px;
    left: -8px;
    padding-right: 0;
}

.lineBreak {
	
}

#main-title {
    float: left;
	
    margin-left: 20px;
    width: 400px;
    margin-top: -16px;
}

.minified #main-title {
    margin-left: 12px;
    
}

#main-title h3 {
    margin-bottom: 9px;
	
    float: left;
}

.minified #main-title h3 {
    bottom: 10px;
    position:relative;
    font-size: 1.4em;
}

#main-title p {
     clear: both;   
}
section.section {
    background: #FFFFFF;
	
    padding: 20px;
    margin: 0 0 14px 0;
    border-radius: 5px;
    box-shadow: 0 -1px 0 rgba(0,0,0,0.1);
    position: relative;
}

#search-section {
     height:128px;   
     padding: 0;
}

#search-section-wrapper {
     padding: 20px;   
}

section#header {
    overflow: hidden;
    
    height: 115px;
}

section.section:first-child {
	
}

section.section:last-child {
	
}

/* Header */
#header nav {
    float: right;
    
    position: absolute;
    right: 13px;
    top: 19px;
}

#header.minified nav {
    top: 14px;
}

#header nav a {
    margin-right: 10px;
    
    text-decoration: underline;
}

#header nav a:last-child {
    margin-right: 0;
    
}

#return-to-search {
    display: none;
 
}

#return-to-home {
   display: none;
}

/* Search section */

#search-query {
    padding: 0 16px;
    
    border-radius: 10px 0 0 10px;
    width: 260px;
    border-right: none;
    height: 38px;
}

.btn-group > .btn-large + .dropdown-toggle {
    padding: 12px 12px 13px 12px;
    
}

.btn-group > .btn#product-select-disabled:first-child,
.btn-group > .btn#product-select-disabled:first-child:hover
.btn-group > .btn#product-select-disabled:first-child:active {
    cursor: default;
    background-image: -webkit-gradient(linear,0 0,0 100%,from(white),to(white));
    background-image: -webkit-linear-gradient(top,white,white);
    background-image: -o-linear-gradient(top,white,white);
    background-image: linear-gradient(to bottom,white,white);
    background-image: -moz-linear-gradient(top,white,white);
    background: none;
    box-shadow: none;
    border-radius: 0;
    width: 133px;
    text-overflow: ellipsis;
    color: #888888;
    text-align: left;
    font-weight: normal;
    font-size: 14px;
    height: 38px;
}

#product-search-submit {
}

#search-section h4 {
    margin: 0 0 20px 0;	
}

#search-query-list {
	max-height: 240px;
	overflow-y: scroll;
}

#search-section .dropdown-toggle {
	box-shadow: -18px 0 15px -3px white;
	z-index: 9999;
}

#search-product-error-message {
    float: left;
    
    width: 100%;
    font-size: 12px;
    margin-left: 5px;
    clear: both;
    position: absolute;
    top: 102px;
    color: red;
    display: none;
}

#search-section.validation-error {
    
}

#search-section.validation-error #search-product-error-message{
    display: block;
    
}

#search-section.validation-error #search-query {
    border-left: 1px solid red;
    
    border-top: 1px solid red;
    border-bottom: 1px solid red;
}

/* Search results */
#search-result-section {
	
    position: relative;
    
	 /* Firefox 4 */
	 /* Safari and Chrome */
	 /* Opera */

    height: 219px;
    padding: 0;
    overflow-x: hidden;
}

#search-result-section #product-list {
    position: relative;
}

#no-product-image {
    background: url('../img/sad_face.png') no-repeat;
	
    height: 117px;
    width: 120px;
    margin: 59px auto 51px;
}

#no-product-text {
    color: #666666;
	
}


#waiting-for-user-text {
    width: 280px;
	
    float: left;
    margin-top: 100px;
    -webkit-transform: rotateZ(-10deg);
    font-size: 1.3em;
}
#waiting-for-user-arrow {
    background: url('../img/arrow.png') no-repeat;
	
    height: 138px;
    width: 100px;
    margin-left: 90px;
    float: left;
}

#search-result-section .ajax-loader-wrapper {
	position: absolute;
    left: 0;
    right: 0;
	top: 50%;
}

#search-result-section .ajax-loader {
    background: url('../img/ajax-loader.gif') no-repeat;
	
    width: 32px;
    height: 32px;
    margin: 0 auto;
    position: relative;
    top: -16px;
    opacity: 0;
    
	transition: opacity 0.5s;
	-moz-transition: opacity 0.5s; /* Firefox 4 */
	-webkit-transition: opacity 0.5s; /* Safari and Chrome */
	-o-transition: opacity 0.5s; /* Opera */
}

#search-result-section .ajax-loader.show {
	opacity: 1;
}


#search-result-section #product-list #waiting-for-user, #search-result-section #product-list #no-products, #search-result-section #product-list #server-error {
    text-align: center;	
    color: #999999;
    position: relative;
    top: 5px;
    
    transition: opacity 0.5s;
	-moz-transition: opacity 0.5s; /* Firefox 4 */
	-webkit-transition: opacity 0.5s; /* Safari and Chrome */
	-o-transition: opacity 0.5s; /* Opera */

}

#search-result-section #product-list #no-products, #search-result-section #product-list #server-error {
    display: none;
}

#search-result-section #product-list #no-products {
    color: #000000;   
}

#search-result-section #product-list #waiting-for-user {
    position: relative;
	
    top: 20;
}

#search-result-section ul#list {
    list-style-type: none;
	
    margin: 0;
    -webkit-transform-style: preserve-3d;
    -webkit-transform: perspective(531px);
    -webkit-transform-origin: left top;
}

#search-result-section.single-product {
    overflow: hidden !important;

}

#search-result-section ul#list li {
    border-bottom: 1px solid #BBBBBB;
    
    height: 90px;
    overflow: hidden;
    -webkit-transform-origin: left top;
    padding: 0 20px;
    opacity: 1;
    
    position: relative;
    width: 94%;
}

#search-result-section.single-product ul#list li {
    border: none;
}

#search-result-section ul#list li:last-child {
 border-bottom: none;   
}

#search-result-section ul#list li.li-hidden {
    -webkit-transform: rotateX(30deg) rotateY(25deg);
    opacity: 0;
}

#search-result-section ul#list li img {
    float: left;
    
    position: absolute;
    right: 516px;
    top: 16px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    max-height: 56px;
    border: 1px solid #DDD;
    width: auto;
    max-width: 78px;
}

#search-result-section ul#list li .text-data {
    float: left;   
    width: 343px;
    position: absolute;
    left: 117px;
    top: 7px;
}

#search-result-section ul#list li .text-data .title {
    text-overflow: ellipsis;
   
    height: 40px;
    overflow: hidden;
    margin-top: 6px;
    margin-bottom: 5px;
}

#search-result-section ul#list li .text-data .price{
    color: #900;
  
}

#search-result-section ul#list li button {
    float: right;
    
    position: relative;
    top: 32px;
    width: 80px;
}

/* Product settings */

#product-settings-secion {
    display: none;
	
    height: 0;
}

#product-settings-secion header{
    border-bottom: 1px solid #888888;
	
    box-shadow: 0 1px 0 #BBB, 0 2px 0 #eee;
}

#product-settings-secion header h3{
    float: left;
	
    margin: 0 0 11px;
    line-height: 25px;
}

#product-settings-secion header #update-product-attributes{
    float: right;
	
    display: inline-block;
	padding: 4px 14px;
	margin-bottom: 0;
	font-size: 14px;
	line-height: 20px;
	color: #333;
	text-align: center;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	
	cursor: pointer;
	background-color: whiteSmoke;
	background-image: -webkit-gradient(linear,0 0,0 100%,from(white),to(#E6E6E6));
	background-image: -webkit-linear-gradient(top,white,#E6E6E6);
	background-image: -o-linear-gradient(top,white,#E6E6E6);
	background-image: linear-gradient(to bottom,white,#E6E6E6);
	background-image: -moz-linear-gradient(top,white,#E6E6E6);
	background-repeat: repeat-x;
	border: 1px solid #BBB;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	border-color: #E6E6E6 #E6E6E6 #BFBFBF;
	border-bottom-color: #A2A2A2;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ffe6e6e6',GradientType=0);
	filter: progid:dximagetransform.microsoft.gradient(enabled=false);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
	
	color: white;
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
background-color: #006DCC;
background-image: -webkit-gradient(linear,0 0,0 100%,from(#08C),to(#04C));
background-image: -webkit-linear-gradient(top,#08C,#04C);
background-image: -o-linear-gradient(top,#08C,#04C);
background-image: linear-gradient(to bottom,#08C,#04C);
background-image: -moz-linear-gradient(top,#08C,#04C);
background-repeat: repeat-x;
border-color: #04C #04C #002A80;
border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

#product-settings-secion header #update-product-attributes:hover{
	color: #333;
	text-decoration: none;
	background-color: #E6E6E6;
	background-position: 0 -15px;
	-webkit-transition: background-position .1s linear;
	-moz-transition: background-position .1s linear;
	-o-transition: background-position .1s linear;
	transition: background-position .1s linear;
	color: white;
background-color: #04C;
}

#product-settings-secion #skin-type{
    margin: 0 auto;
	
}

#product-settings-secion #skin-type a{
    float: left;	
    text-decoration: none;
    margin-right: 30px;
}

#product-settings-secion #skin-type a:hover{
    
}


#product-settings-secion #skin-type a:last-child{
   
}

#product-settings-secion #skin-type a.selected{
   cursor: default;
}


#product-settings-secion #skin-type a .img{
    background: url('../img/settings_variations_sprite.png');
	
    width: 140px;
    height: 63px;
    display: block;
    border-radius: 5px;
    border: 1px solid #CCCCCC;
}

#product-settings-secion #skin-type a:hover .img{
    box-shadow: 0 1px 1px rgba(0,0,0,0.3);
    position: relative;
    bottom: 1px;
    border: 1px solid #999999;
}

#product-settings-secion #skin-type a.selected .img{
    border: 1px solid #0099ff;
    background-color: #E8F7FC;
    bottom: 0;
    box-shadow: none;
}

#product-settings-secion #skin-type a:hover.text{
   
}


#product-settings-secion #skin-type a.selected .text{
}


#product-settings-secion #skin-type a .text{
    text-align: center;
	
    display: block;
}

#product-settings-secion #skin-type a:hover .text{
    
}


#product-settings-secion #skin-type a.selected .text{
   
}


#product-settings-secion #skin-type a#Full1 .img{
	
}

#product-settings-secion #skin-type a#Image .img{
    background-position: -140px;

}

#product-settings-secion #skin-type a#Link .img{
    background-position: -280px 0;
	
}


/* User Settings */

a#settings {
    top: 2px;
    right: 5px;
}
div#user-settings {
    display: none;
}
input#settings-amazon-affiliate-id {
    height: auto;
    left: 125px;
    position: relative;
}

.minified input#settings-amazon-affiliate-id {
    left: 41px;
}

#user-settings-submit {
     float:right;   
}

#product-settings-secion h4.image-size-class,
#product-settings-secion h4.product-text-class {
    width: 200px;
    margin-top: 51px;
    float: left;
    font-weight: normal;
}

#product-settings-secion #product-text {
    width: 365px;
    
    float: right;
    margin-top: 44px;
    position: relative;
    top: 10px;
}

#product-settings-secion #image-size{ 
    float: right;
    margin-top: 44px;
}

/* Alert Feedback */

.alert {
    position: absolute;
    top: 0;
    display: none;
    left: 0;
    z-index: 9999;
    right: 0;
    margin: 10px 10px 0;
    font-size: 1.1em;
    line-height: 1.8em;
    padding-bottom: 11px;
    text-align: center;
}

/* Bootstrap fix*/

#image-size {
min-height: 40px;
padding-right: 0;
padding-left: 0;
background-color: #FAFAFA;
background-image: -moz-linear-gradient(top,white,#F2F2F2);
background-image: -webkit-gradient(linear,0 0,0 100%,from(white),to(#F2F2F2));
background-image: -webkit-linear-gradient(top,white,#F2F2F2);
background-image: -o-linear-gradient(top,white,#F2F2F2);
background-image: linear-gradient(to bottom,white,#F2F2F2);
background-repeat: repeat-x;
border: 1px solid #D4D4D4;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffffff',endColorstr='#fff2f2f2',GradientType=0);
-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
-moz-box-shadow: 0 1px 4px rgba(0,0,0,0.065);
box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
}

#image-size .nav > li > a:focus, #image-size .nav > li > a:hover {
color: #333;
text-decoration: none;
background-color: transparent;
}
#image-size .nav > li > a {
float: none;
padding: 10px 15px 10px;
color: #555;
text-decoration: none;
text-shadow: 0 1px 0 white;
}
.nav > li > a:hover {
text-decoration: none;
background-color: #EEE;
}
.nav > li > a {
display: block;
}

#image-size .nav > li {
float: left;
}

#image-size .nav > li.active > a { 
color: #555;
text-decoration: none;
background-color: #E5E5E5;
-webkit-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
-moz-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
}

.textarea-error {
	border: 1px solid #ff0000;
}
